@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Comic+Neue&family=Open+Sans&family=Oswald:wght@400;700&family=Pacifico&family=Roboto&display=swap");
*{
  scroll-behavior: smooth;
}
:root {
  --Comic: "Comic Neue", cursive;
  --Oswald: "Oswald", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Caveat: "Caveat", cursive;
  --Open: "Open Sans", sans-serif;
  --Pacifico: "Pacifico", cursive;
}
.comic {
  font-family: var(--Comic);
}
.oswald {
  font-family: var(--Oswald);
}
.roboto {
  font-family: var(--Roboto);
}
.caveat{
  font-family: var(--Caveat);
}
.open {
  font-family: var(--Open);
}
.pacifico{
  font-family: var(--Pacifico);
}
div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-fix{
background-color: #423f3f41;
backdrop-filter: blur(5px);
}